.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--size-control);
  block-size: var(--size-control);
  color: var(--color-icon);
  border-radius: var(--radius-round);
}

.button-icon > svg {
  inline-size: 100%;
  block-size: 100%;
}

.accent1.button-icon:active,
.accent1.active {
  color: var(--color-accent-1);
}

.accent2.button-icon:active,
.accent2.active {
  color: var(--color-accent-2);
}

.button-icon[disabled] {
  opacity: 0.48;
}
