.bracket {
  --radius: 0;
  --reserve: 0;
  --line: 1px solid var(--color-dimmed);

  display: flex;
  flex: 1;
  block-size: var(--font-size-3);
  color: var(--color-dimmed);
  font-weight: 400;
  font-size: var(--font-size-0);
  font-family: var(--font-sans);
}

.count {
  display: flex;
  align-items: center;
  padding-inline: var(--size-00);
  color: var(--color-text);
}

/* Линия проходит на уровне цифры, засечка идёт вверх от края доли, к нотам */
.button {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  transition-property: color, border-color;
  transition-duration: 200ms;
}

.button::before {
  position: absolute;
  inset-block: 0 50%;
  content: '';
  border-block-end: var(--line);
}

.button:first-child {
  justify-content: flex-end;
}

.button:first-child::before {
  inset-inline: 0 var(--reserve);
  border-inline-start: var(--line);
  border-end-start-radius: var(--radius);
}

.button:last-child {
  justify-content: flex-start;
}

.button:last-child::before {
  inset-inline: var(--reserve) 0;
  border-inline-end: var(--line);
  border-end-end-radius: var(--radius);
}

.button:disabled {
  cursor: default;
}

.button:active:not(:disabled),
.button:hover:not(:disabled) {
  --line: 1px solid #fff;

  color: var(--color-accent-1);
}
