.bracket {
  --line: var(--size-00000) solid var(--color-dimmed);

  position: relative;
  display: flex;
  flex: 1;
  gap: 3ch;
  block-size: var(--size-00);
  color: var(--color-dimmed);
  font-size: var(--font-size-0);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-0);
  user-select: none;
  pointer-events: none;
}

.line {
  flex: 1;
  align-self: stretch;
  border-block-start: var(--line);
}

.line:first-child {
  border-inline-start: var(--line);
}

.line:last-child {
  border-inline-end: var(--line);
}

.count {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
