.input-number {
  position: relative;
}

.label {
  display: grid;
  gap: var(--size-000);
}

.title {
  font-weight: 1000;
  font-size: var(--font-size-1);
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

.input {
  display: block;
  inline-size: 100%;
  block-size: var(--block-size-control);
  padding-inline: var(--size-0);
  font-weight: 900;
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-0);
  border-radius: var(--radius-1);
  background-color: transparent;
  outline: var(--border);
}

.input:where(::-webkit-outer-spin-button, ::-webkit-inner-spin-button) {
  margin: 0;
  appearance: none;
}

.buttons {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: 1;
  display: flex;
  gap: var(--size-0);
  block-size: var(--block-size-control);
  padding-inline: 0 var(--size-0);
}

.button {
  opacity: var(--opacity-dimmed);
}

.disabled {
  /* empty */
}

@media (hover: hover) {
  .button:not(:where([disabled], .disabled)):hover {
    opacity: 1;
  }
}
