.root {
  position: relative;
}

.label {
  font-weight: var(--font-weight-9);
  font-size: var(--font-size-3);
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

/* Input */

.input {
  display: block;
  inline-size: 100%;
  padding: var(--size-1) var(--size-2);
  font-weight: bold;
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-00);
  border: 2px solid #fffa;
  border-radius: var(--radius-2);
  background-color: transparent;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Button */

.buttons {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 50px;
  padding: 0 var(--size-2);
}

.button {
  block-size: 100%;
  color: #fffa;
}

.active,
.button:active {
  opacity: 1;
}

/* Button Disabled */

.button[disabled] {
  opacity: 0.48 !important;
}

/* Animations */

.blink {
  animation: blink 0.5s ease-out;
}

@keyframes blink {
  from {
    color: var(--color-accent-1);
    opacity: 1;
    filter: drop-shadow(0 0 4px var(--color-accent-1));
  }

  to {
    color: #fffa;
  }
}
