.button-counting {
  block-size: var(--size-icon);
  aspect-ratio: 1;
  border-radius: var(--radius-round);
}

.button-counting svg {
  overflow: visible;
}

.button-counting path {
  transition: fill 200ms ease-out;
}

.glow-segment {
  fill: var(--color-accent-1);
}

.count-value {
  position: absolute;
  inset: 0;
  inset-block-start: 0.05em;
  display: grid;
  place-items: center;
  color: var(--color-text);
  font-weight: 1000;
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-1);
}
