.button-play {
  --size-icon: var(--size-3);

  flex: none;
  inline-size: var(--size-icon);
  block-size: var(--size-icon);
}

.button-play svg {
  transform: translateX(6%);
}

.is-playing svg {
  transform: translateX(0);
}
