:root {
  accent-color: var(--color-accent-2);
  color: var(--color-text);
  font-size: 16px;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-1);
  transition: font-size 400ms ease-out;
}

:where([data-react-root]) {
  inline-size: 100%;
  isolation: isolate;
}

:where([data-modal]) {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

:where(body) {
  block-size: 100%;
  background-color: var(--color-background-app);
}

:where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text);
}

::selection {
  color: #fff;
  background-color: var(--color-accent-2);
}

@media (min-width: 800px) {
  :root {
    padding-block-start: 7.5vh;
    font-size: min(2.45vh, 1.85vw);
  }

  :where(body) {
    background-color: var(--color-background);
  }
}
