:where(html[data-theme='dark']) {
  --color-accent-1: #00eaff;
  --color-accent-2: #ff357f;
  --color-background-1: #000;
  --color-background-2: #212126;
  --color-border: #fff2;
  --color-text: #fffe;

  color-scheme: dark;
}

:where(html) {
  /* fonts */
  --font-sans: sfns, system-ui, -apple-system, segoe ui, roboto, ubuntu, sans-serif;
  --font-mono: dank mono, operator mono, fira mono, sf mono, monospace;
  --font-lineheight-0: 0.8;
  --font-lineheight-1: 1.4;

  /* font scale: 1.25 */
  --font-size-00: 0.64rem;
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.5625rem;
  --font-size-4: 1.9531rem;
  --font-size-5: 2.4414rem;
  --font-size-6: 3.0518rem;
  --font-size-7: 3.8147rem;
  --font-size-8: 4.7684rem;

  /* radius */
  --radius-1: var(--font-size-0);
  --radius-2: var(--font-size-2);
  --radius-3: var(--font-size-4);
  --radius-pill: 1e4px;
  --radius-round: 50%;

  /* sizes scale: 1.618 */
  --size-000: 0.24rem;
  --size-00: 0.382rem;
  --size-0: 0.6181rem;
  --size-1: 1rem;
  --size-2: 1.6181rem;
  --size-3: 2.6179rem;
  --size-4: 4.2358rem;
  --size-5: 6.8535rem;
  --size-6: 11.089rem;
  --size-7: 17.942rem;
  --size-8: 29.031rem;
  --size-icon: var(--font-size-4);
  --block-size-control: var(--font-size-6);

  /* misc */
  --border: 0.18rem solid var(--color-border);
  --opacity-disabled: 0.48;
  --opacity-dimmed: 0.8;
}
