.app {
  --app-max-size: 50rem;

  display: grid;
  grid-template-rows: 1fr;
  row-gap: min(5vw, var(--size-2));
  max-inline-size: var(--app-max-size);
  margin-inline: auto;
  padding: min(5vw, var(--size-3));
  border-radius: var(--size-3);
  background-color: var(--color-background-app);
  transform-origin: top;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in;
  transition-duration: 600ms;
}

@media (min-width: 50rem) {
  body {
    display: grid;
  }
}

@media (min-width: 55rem) {
  .app {
    transition-timing-function: ease-out;
  }
}
