.prompt {
  position: fixed;
  inset-block-end: var(--size-1);
  inset-inline: var(--size-1);
  padding: var(--size-000);
  border-radius: var(--radius-3);
  background-position: center;
  background-size: cover;
  outline: var(--border);
  opacity: 0;
}

.title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  margin-inline-start: var(--size-000);
  font-size: var(--font-size-2);
}

.close-button {
  margin-inline-start: auto;
  opacity: var(--opacity-disabled);
}

.actions {
  display: flex;
  gap: var(--size-0);
  align-items: baseline;
  margin-block-start: var(--size-000);
}

.skip {
  line-height: var(--font-lineheight-0);
  opacity: var(--opacity-disabled);
  border-block-end: 1px dotted;
}

.skip:active {
  color: var(--color-accent-2);
  opacity: 1;
}

.update {
  padding: var(--size-000) var(--size-00);
  font-weight: 600;
  text-shadow: 1px 1px 3px #000a;
  border-radius: var(--radius-1);
  background-color: transparent;
  outline: var(--border);
  transition: transform 0.1s ease-out;
}

.update:active {
  transform: scale(0.94);
}

.update-prompt .icon {
  color: #fffa;
}

.ready-prompt .icon {
  color: var(--color-success);
}
