.display-bar {
  --size-icon: var(--font-size-3);

  display: flex;
  gap: var(--size-1);
  justify-content: space-between;
  padding: var(--size-00) min(5vw, var(--size-2));
  background-image: linear-gradient(45deg, #0003, #0008, #0003);
}

.display-bar > div {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}

.display-bar > div:first-child {
  justify-content: start;
}

.display-bar > div:last-child {
  justify-content: end;
}

.icon svg {
  transition-property: filter, transform;
  transition-timing-function: ease-out;
  transition-duration: 250ms, 200ms;
}

.icon-active svg {
  fill: var(--color-accent-1);
  filter: drop-shadow(0 0 0.15rem var(--color-accent-1));
}

.right {
  color: var(--color-dimmed);
}

.left {
  /* empty */
}

.segment {
  position: relative;
  color: var(--color-text);
  font-size: var(--font-size-0);
  font-family: var(--font-segment);
  transition: color 150ms ease-out;
}

.segment-placeholder {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  opacity: 0.125;
}

.time {
  filter: drop-shadow(0 0 0.15rem var(--color-dimmed));
}

.is-playing svg {
  color: var(--color-border-1);
  transition: color 150ms ease-out;
}

.is-playing:not(.is-training) .segment {
  color: var(--color-border-1);
}
