.display-bar {
  --size-icon: var(--font-size-2);

  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: var(--size-1);
  padding: var(--size-00) min(5vw, var(--size-2));
  background-color: #000c;
}

.display-bar > div {
  display: flex;
  align-items: center;
}

.display-bar > div:first-child {
  justify-content: start;
}

.display-bar > div:last-child {
  justify-content: end;
}

.icon svg {
  transition-property: filter, transform;
  transition-timing-function: ease-out;
  transition-duration: 250ms, 200ms;
}

.icon-active svg {
  fill: var(--color-accent-1);
  filter: drop-shadow(0 0 0.15rem var(--color-accent-1));
}

.center {
  justify-content: center;
}

.right {
  gap: calc(var(--size-0) + var(--size-000));
  color: var(--color-dimmed);
}

.left {
  gap: var(--size-0);
}

.segment {
  position: relative;
  color: var(--color-text);
  font-size: var(--font-size-0);
  font-family: var(--font-segment);
  transition: color 150ms ease-out;
}

.segment-placeholder {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  opacity: 0.125;
}

.time {
  filter: drop-shadow(0 0 0.15rem var(--color-dimmed));
}

.is-playing svg {
  color: var(--color-border-1);
  transition: color 150ms ease-out;
}

.is-playing:not(.is-training) .segment {
  color: var(--color-border-1);
}

.progress {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
}
