.display {
  --shadow-distance: var(--size-000);

  position: relative;
  display: grid;
  border-radius: var(--radius-2);
  background-image: radial-gradient(ellipse 100% 60% at 50% 80%, #0004 25%, #0006 70%, #000a 100%);
  outline: var(--border);
  box-shadow:
    inset 0 0 var(--size-2) #000d,
    var(--shadow-distance) var(--shadow-distance) var(--size-1) #000a,
    calc(-1 * var(--shadow-distance)) calc(-1 * var(--shadow-distance)) var(--size-0) #fff1;
  overflow: hidden;
}

.bar {
  display: flex;
  align-items: flex-end;
  margin: min(5vw, var(--size-2));
  margin-block: var(--size-1) var(--size-000);
}

.beat {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.note {
  flex: 1;
}
