.display {
  --shadow-distance: var(--size-1);
  --shadow-blur: var(--size-2);

  display: grid;
  border-radius: var(--radius-2);
  outline: var(--border);
  box-shadow:
    inset 0 0 var(--size-2) #000d,
    var(--shadow-distance) var(--shadow-distance) var(--shadow-blur) hsl(240deg 15 10%),
    calc(-1 * var(--shadow-distance)) calc(-1 * var(--shadow-distance)) var(--shadow-blur)
      hsl(240deg 15 20%);
  overflow: hidden;
}

.grid {
  display: flex;
  align-items: flex-end;
  margin: min(5vw, var(--size-2));
  margin-block-end: var(--size-1);
}

.note {
  flex: 1;
}
