.display {
  display: grid;
  gap: var(--size-1);
  padding: min(5vw, var(--size-2));
  padding-block-end: var(--size-1);
  border-radius: var(--radius-2);
  background-color: #2c2c2e;
  outline: var(--border);
  box-shadow: inset 0 0 var(--size-2) #000d;
}

.notes {
  display: flex;
  align-items: flex-end;
}

.note {
  flex: 1;
}

.beat {
  position: relative;
  flex: 1;
  block-size: 40px;
  margin: 0 0 8px 8px;
}

.indicator {
  --color-inidicator: transparent;

  position: relative;
  block-size: 50px;
  border-radius: var(--radius-1);
  background-color: var(--color-inidicator);
  box-shadow: inset 0 0 var(--size-2) #000a;
  overflow: hidden;
}

.indicator::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  content: '';
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  background-color: rgb(0 0 0 / 20%);
}

.indicator.accent {
  --color-inidicator: #f00;

  animation: blink both 150ms cubic-bezier(0, 0.2, 1, 1);
}

.indicator.regular {
  --color-inidicator: #0f0;

  animation: blink both 150ms cubic-bezier(0, 0.2, 1, 1);
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}
