.range {
  min-inline-size: var(--size-6);
  container: range-container / inline-size;
}

.input {
  --track-height: 0.5ex;
  --track-fill: 0%;
  --thumb-size: 3ex;
  --thumb-offset: -1.25ex;
  --thumb-highlight-size: 0;

  display: block;
  inline-size: 100%;
  padding-inline-start: 1px;
  background: 0 0;
  appearance: none;
}

.input::-webkit-slider-runnable-track {
  block-size: var(--track-height);
  border-radius: var(--radius-pill);
  background-color: #ff357faa;
  background-image: linear-gradient(
    to right,
    var(--color-accent-2) var(--track-fill),
    transparent 0%
  );
  appearance: none;
}

.input::-moz-range-track {
  block-size: var(--track-height);
  border-radius: var(--radius-pill);
  background-color: #ff357faa;
  background-image: linear-gradient(
    to right,
    var(--color-accent-2) var(--track-fill),
    transparent 0%
  );
  appearance: none;
}

.input::-webkit-slider-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: var(--border);
  border-color: #0004;
  border-radius: var(--radius-round);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 0 var(--thumb-highlight-size) #fff2;
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 100ms ease-out;
}

.input::-moz-range-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: var(--border);
  border-color: #0004;
  border-radius: var(--radius-round);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 0 var(--thumb-highlight-size) #fff2;
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 100ms ease-out;
}

.input:active {
  --thumb-highlight-size: var(--size-0);
}

.labels {
  display: flex;
  justify-content: space-between;
}

.labels > option {
  position: relative;
  inline-size: var(--size-2);
  padding-block-start: var(--size-0);
  font-weight: 500;
  font-size: var(--font-size-0);
  font-stretch: semi-condensed;
  text-align: center;
  cursor: pointer;
  opacity: var(--opacity-dimmed);
  transform-origin: top;
  transition-property: transform, color, width;
  transition-delay: 400ms, 0ms, 0ms;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.labels > option::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  content: '';
  inline-size: 2px;
  block-size: var(--size-00);
  background-color: var(--color-text);
}

@media (hover: hover) {
  .input:hover {
    --thumb-highlight-size: var(--size-0);
  }

  .labels > option:hover {
    opacity: 1;
    transition: opacity 100ms ease-out;
  }
}

@container range-container (inline-size < 40rem) {
  .labels > option:nth-child(2n) {
    inline-size: 2px;
    color: #0000;
    transform: scale(0.5);
    transition-delay: 0ms, 400ms, 600ms;
  }
}

@container range-container (inline-size < 28rem) {
  .labels > option:nth-child(4n + 3) {
    color: #0000;
    transform: scale(0.75);
    transition-delay: 0ms, 400ms, 600ms;
  }
}
