.root {
  min-inline-size: 27ch;
  container: range-container / inline-size;
}

.input {
  --track-height: 0.5ex;
  --track-fill: 0%;
  --thumb-size: 3ex;
  --thumb-offset: -1.25ex;
  --thumb-highlight-size: 0;

  display: block;
  inline-size: 100%;
  background: 0 0;
  outline: none;
  outline-offset: 5px;
  appearance: none;
}

.input::-webkit-slider-runnable-track {
  block-size: var(--track-height);
  border-radius: 5ex;
  background:
    linear-gradient(to right, transparent var(--track-fill), var(--color-border) 0%),
    linear-gradient(to bottom, var(--color-accent-2), transparent) fixed;
  appearance: none;
}

.input::-moz-range-track {
  block-size: var(--track-height);
  border-radius: 5ex;
  background:
    linear-gradient(to right, transparent var(--track-fill), var(--color-border) 0%),
    linear-gradient(to bottom, var(--color-accent-2), transparent) fixed;
  appearance: none;
}

.input::-webkit-slider-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: 3px solid var(--color-surface-2);
  border-radius: var(--radius-round);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 0 var(--thumb-highlight-size) var(--color-thumb-highlight);
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 0.1s ease;
}

.input::-moz-range-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: 3px solid var(--color-surface-2);
  border-radius: var(--radius-round);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 0 var(--thumb-highlight-size) var(--color-thumb-highlight);
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 0.1s ease;
}

.input:is(:hover, .input :active) {
  --thumb-highlight-size: 10px;
}

.labels {
  display: flex;
  justify-content: space-between;
  padding-inline: 2px 4px;
}

.labels > option {
  position: relative;
  flex: none;
  inline-size: 20px;
  padding-block-start: 10px;
  font-size: 12px;
  letter-spacing: -0.8px;
  text-align: center;
  cursor: pointer;
  transform-origin: top;
  transition-property: transform, color, width;
  transition-delay: 400ms, 0ms, 0s;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.labels > option::before {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  content: '';
  inline-size: 2px;
  block-size: 8px;
  background-color: var(--color-text);
}

@media (hover: none) {
  .input {
    --thumb-size: 30px;
    --thumb-offset: -14px;
  }
}

@container range-container (inline-size < 600px) {
  .labels > option:nth-child(2n) {
    inline-size: 2px;
    color: #0000;
    transform: scale(0.5);
    transition-delay: 0s, 400ms, 600ms;
  }
}

@container range-container (inline-size < 400px) {
  .labels > option:nth-child(4n + 3) {
    color: #0000;
    transform: scale(0.75);
    transition-delay: 0s, 400ms, 600ms;
  }
}
