.range {
  --track-fill: 0%;

  display: grid;
  gap: var(--size-0);
  container: range-container / inline-size;
}

.input {
  --track-height: 0.5ex;
  --thumb-size: 3ex;
  --thumb-offset: -1.25ex;
  --thumb-highlight-size: 0;

  display: block;
  inline-size: 100%;
  background: 0 0;
  appearance: none;
}

.input::-webkit-slider-runnable-track {
  block-size: var(--track-height);
  border-radius: var(--radius-pill);
  background-color: #ff357faa;
  background-image: linear-gradient(
    to right,
    var(--color-accent-2) var(--track-fill),
    transparent 0%
  );
  appearance: none;
}

.input::-moz-range-track {
  block-size: var(--track-height);
  border-radius: var(--radius-pill);
  background-color: #ff357faa;
  background-image: linear-gradient(
    to right,
    var(--color-accent-2) var(--track-fill),
    transparent 0%
  );
  appearance: none;
}

.input::-webkit-slider-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: var(--border);
  border-color: #0004;
  border-radius: var(--radius-round);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 0 var(--thumb-highlight-size) #fff2;
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 100ms ease-out;
}

.input::-moz-range-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: var(--border);
  border-color: #0004;
  border-radius: var(--radius-round);
  background-color: var(--color-accent-1);
  box-shadow: 0 0 0 var(--thumb-highlight-size) #fff2;
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 100ms ease-out;
}

.input:active {
  --thumb-highlight-size: var(--size-0);
}

.labels {
  position: relative;
  display: flex;
  justify-content: space-between;
  background:
    linear-gradient(to right, #fffe 2px, transparent 2px) repeat-x 11.5px 0,
    linear-gradient(to right, #fffa 2px, transparent 2px) repeat-x 11.5px 0,
    linear-gradient(to right, #fffa 2px, transparent 2px) repeat-x 11.5px 0;
  background-size:
    calc((100% - 25px) / 14) 6px,
    calc((100% - 25px) / 28) 4px,
    0 0;
}

.label {
  inline-size: var(--size-2);
  padding-block-start: var(--size-0);
  font-weight: 500;
  font-size: var(--font-size-0);
  font-stretch: semi-condensed;
  text-align: center;
  cursor: pointer;
  opacity: var(--opacity-dimmed);
  transform-origin: top;
  transition-property: transform, color, width;
  transition-delay: 400ms, 0ms, 0ms;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.popover {
  position: absolute;
  inset-block-end: calc(100% + var(--size-000));
  inset-inline-start: var(--track-fill);
  padding: 0 var(--size-000);
  font-size: var(--font-size-0);
  border-radius: var(--radius-pill);
  background-color: #fff5;
  opacity: 0;
  pointer-events: none;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

@media (hover: hover) {
  .input:hover {
    --thumb-highlight-size: var(--size-0);
  }

  .label:hover {
    opacity: 1;
    transition: opacity 100ms ease-out;
  }
}

@container range-container (inline-size < 40rem) {
  .label:nth-child(2n) {
    inline-size: 2px;
    color: #0000;
    transform: scale(0.5);
    transition-delay: 0ms, 400ms, 600ms;
  }
}

@container range-container (inline-size < 28rem) {
  .labels {
    background-size:
      calc((100% - 25px) / 7) 6px,
      calc((100% - 25px) / 14) 4px,
      calc((100% - 25px) / 28) 3px;
  }

  .label:nth-child(4n + 3) {
    inline-size: 2px;
    color: #0000;
    transform: scale(0.75);
    transition-delay: 0ms, 400ms, 600ms;
  }
}

@container range-container (inline-size < 20rem) {
  .labels {
    background-size:
      calc((100% - 25px) / 7) 6px,
      calc((100% - 25px) / 14) 4px,
      0 0;
  }
}
