.version {
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  padding-inline: 0.5ch;
  font: var(--font-mono);
  font-size: var(--font-size-0);
  opacity: 0.5;
  pointer-events: none;
}
