.beats-counter {
  --size-highlight: calc(var(--size-icon) * 1.25);

  font-weight: 500;
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-0);
  cursor: pointer;
}

.playing {
  opacity: 1;
}

.value {
  position: relative;
  opacity: var(--alpha-disabled);
}

.value::before {
  position: absolute;
  inset-block-start: calc(50% - var(--size-highlight) / 2);
  inset-inline-start: calc(50% - var(--size-highlight) / 2);
  content: '';
  inline-size: var(--size-highlight);
  block-size: var(--size-highlight);
  border-radius: var(--radius-round);
  background-color: #fff2;
  transform: scale(0);
  transition: transform 100ms ease-out;
}

.value:hover::before {
  transform: scale(1);
}

.playing .value,
.value:hover {
  opacity: 1;
}

.beat-value-fullscreen {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
}

.segment {
  position: relative;
  display: flex;
  font-size: min(60vh, 50vw);
  font-family: var(--font-segment);
  line-height: var(--font-lineheight-0);
}

.length-two {
  margin-inline-start: 15%;
}

.segment-placeholder {
  opacity: 0.1;
}

.segment-value {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}
