.beats-counter {
  --size-highlight: calc(var(--size-icon) * 1.25);

  font-weight: 500;
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-0);
}

.playing {
  opacity: 1;
}

.value {
  position: relative;
  opacity: var(--alpha-disabled);
  transition: opacity 100ms ease-out;
}

.playing .value,
.value:hover {
  opacity: 1;
}

.beat-value-fullscreen {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
}

.segment {
  position: relative;
  display: flex;
  font-size: min(60vh, 50vw);
  font-family: var(--font-segment);
  line-height: var(--font-lineheight-0);
}

.length-two {
  margin-inline-end: 15%;
}

.segment-placeholder {
  opacity: 0.1;
}

.segment-value {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}
