.progress {
  --progress-bar-color: #fff4;

  block-size: var(--size-00000);
}

.fill {
  block-size: 100%;
  background-color: var(--progress-bar-color);
  transition-property: inline-size;
  transition-timing-function: linear;
}
