.input-range {
  container: input-range-container / inline-size;
}

.input {
  inline-size: 100%;
}

.range {
  position: absolute;
  inset-block-end: 0;
  inset-inline: calc(var(--size-6) + var(--size-2)) 0;
  opacity: 0;
  pointer-events: none;
}

@container input-range-container (inline-size > 28rem) {
  .input {
    inline-size: var(--size-6);
  }

  .range {
    opacity: 1;
    pointer-events: auto;
  }
}
