.checkbox {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.title {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: var(--font-size-00);
  font-variant: all-petite-caps;
  font-stretch: condensed;
  line-height: var(--font-lineheight-0);
}

.led {
  position: absolute;
  inset-block-start: -0.5rem;
  inset-inline-start: -1.3rem;
  inline-size: var(--size-2);
  block-size: var(--size-2);
}

.led-enabled {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.toggler {
  inline-size: 2.8rem;
  block-size: 5.5rem;
  margin-block-start: -0.7rem;
  margin-block-end: -1.7rem;
  object-fit: cover;
  transition: opacity 100ms ease-out;
}

.checkbox[disabled] .toggler {
  opacity: var(--opacity-disabled);
}

.checked {
  .led-enabled {
    opacity: 1;
    transition-duration: 50ms;
  }
}
