.button-icon {
  --size-highlight: calc(var(--size-icon) * 1.25);

  position: relative;
  display: grid;
  place-content: center;
}

.button-icon svg {
  inline-size: var(--size-icon);
  block-size: var(--size-icon);
  transition: transform 400ms ease-out;
}

.button-icon:not(:where([disabled], .disabled)):active svg {
  transform: scale(1.125);
  transition-duration: 100ms;
}

.button-icon.accent1:where(:active, .active) {
  color: var(--color-accent-1);
}

.button-icon.accent2:where(:active, .active) {
  color: var(--color-accent-2);
}

.button-icon:is([disabled], .disabled) {
  opacity: var(--opacity-disabled);
}

.button-icon::before {
  position: absolute;
  inset-block-start: calc(50% - var(--size-highlight) / 2);
  inset-inline-start: calc(50% - var(--size-highlight) / 2);
  content: '';
  inline-size: var(--size-highlight);
  block-size: var(--size-highlight);
  border-radius: var(--radius-round);
  background-color: #fff2;
  transform: scale(0);
  transition: transform 100ms ease-out;
}

@media (hover: hover) {
  .highlight:not(:where([disabled], .disabled)):hover::before {
    transform: scale(1);
  }
}

.head-shake {
  animation-name: head-shake;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
}

@keyframes head-shake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-3px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(2.5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-1.5px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(1px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
