.main-control {
  display: flex;
  gap: 0.5ch;
  align-items: center;
}

.time {
  padding: 0.25ch 0.5ch;
  font-weight: bold;
  font-size: var(--font-size-6);
  line-height: var(--font-lineheight-00);
}
