.main-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: var(--size-3);
}

.playing,
.actions {
  display: flex;
  gap: var(--size-0);
  block-size: 100%;
}

.playing {
  align-items: center;
}

.actions {
  /* empty */
}

.counter {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}

.time {
  font-weight: 700;
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-0);
}
